{% extends "base2.html" %}

{% block bar %}

      <div style="display: flex;flex-direction: row">
          <div style="margin-left:25px;height: 500px;width: 900px;background-color:white;display: flex;flex-direction: column">
              <div style="margin-top: 15px;margin-left: 5px;"><img width="70px" height="70px;" src="http://127.0.0.1:8080/images/guanli/%E5%9F%BA%E7%A1%80%E7%AE%A1%E7%90%86.png">
              <span style="font-size: 20px;font-weight: bold;">管理模块</span></div>

              <div style="display: flex;flex-direction: row;margin-top: 20px;margin-left: 50px">
                  <div style="display: flex;flex-direction: column">
                  <div ><a href="http://127.0.0.1:8000/user_list/"> <img class="pic" width="120px" height="120px;" src="http://127.0.0.1:8080/images/guanli/user.png"></a></div>
                      <div style="margin-left: 25px;margin-top: 15px;">用户管理</div>
                  </div>


                  <div style="display: flex;flex-direction: column;margin-left: 35px;">
                  <div ><a href="http://127.0.0.1:8000/tijian_list/"> <img class="pic" width="120px" height="120px;" src="http://127.0.0.1:8080/images/guanli/tijian.png"></a></div>
                      <div style="margin-left: 25px;margin-top: 15px;">体检管理</div>
                  </div>


                  <div style="display: flex;flex-direction: column;margin-left: 35px;">
                  <div ><a href="http://127.0.0.1:8000/department_list/"> <img class="pic" width="120px" height="120px;" src="http://127.0.0.1:8080/images/guanli/keshi.png"></a></div>
                      <div style="margin-left: 25px;margin-top: 15px;">科室管理</div>
                  </div>

                  <div style="display: flex;flex-direction: column;margin-left: 35px;">
                  <div ><a href="http://127.0.0.1:8000/doctor_list/"> <img class="pic" width="120px" height="120px;" src="http://127.0.0.1:8080/images/guanli/doctor.png"></a></div>
                      <div style="margin-left: 25px;margin-top: 15px;">医生管理</div>
                  </div>

                  <div style="display: flex;flex-direction: column;margin-left: 35px;">
                  <div ><a href="http://127.0.0.1:8000/medicine_list/"> <img class="pic" width="120px" height="120px;" src="http://127.0.0.1:8080/images/guanli/medicine.png"></a></div>
                      <div style="margin-left: 25px;margin-top: 15px;">药品管理</div>
                  </div>

              </div>
              <div style="display: flex;flex-direction: row;margin-top: 20px;margin-left: 50px">
                  <div style="display: flex;flex-direction: column">
                  <div ><a href="http://127.0.0.1:8000/order_list/"> <img class="pic" width="120px" height="120px;" src="http://127.0.0.1:8080/images/guanli/DO.png"></a></div>
                      <div style="margin-left: 25px;margin-top: 15px;">门诊预约</div>
                  </div>


                  <div style="display: flex;flex-direction: column;margin-left: 35px;">
                  <div ><a href="http://127.0.0.1:8000/goods_list/"> <img class="pic" width="120px" height="120px;" src="http://127.0.0.1:8080/images/guanli/shop.png"></a></div>
                      <div style="margin-left: 25px;margin-top: 15px;">商城订单</div>
                  </div>


                  <div style="display: flex;flex-direction: column;margin-left: 35px;">
                  <div ><a href="http://127.0.0.1:8000/tj_order_list/"> <img class="pic" width="120px" height="120px;" src="http://127.0.0.1:8080/images/guanli/TO.png"></a></div>
                      <div style="margin-left: 25px;margin-top: 15px;">体检预约</div>
                  </div>

                  <div style="display: flex;flex-direction: column;margin-left: 35px;">
                  <div ><a href="http://127.0.0.1:8000/article_list/"> <img class="pic" width="120px" height="120px;" src="http://127.0.0.1:8080/images/guanli/article.png"></a></div>
                      <div style="margin-left: 25px;margin-top: 15px;">文章管理</div>
                  </div>

              </div>





          </div>
          <div style="margin-left:25px;height: 500px;width: 500px;background-color: whitesmoke">

              <div style="margin-top: 15px;margin-left: 5px;"><img width="70px" height="70px;" src="http://127.0.0.1:8080/images/guanli/shenhe.png">
              <span style="font-size: 20px;font-weight: bold;">审核模块</span></div>

              <div style="display: flex;flex-direction: row;margin-top: 20px;margin-left: 50px">

 <div style="display: flex;flex-direction: column;margin-left: 35px;">
                  <div ><a href="http://127.0.0.1:8000/tj_order_list_0/"> <img class="pic" width="120px" height="120px;" src="http://127.0.0.1:8080/images/guanli/TT.png"></a></div>
                      <div style="margin-left: 25px;margin-top: 15px;">体检预约审核</div>
                  </div>


                  <div style="display: flex;flex-direction: column;margin-left: 35px;">
                  <div ><a href="http://127.0.0.1:8000/order_list_0/"> <img class="pic" width="120px" height="120px;" src="http://127.0.0.1:8080/images/guanli/DT.png"></a></div>
                      <div style="margin-left: 25px;margin-top: 15px;">问诊预约审核</div>
                  </div>




              </div>


          </div>


      </div>


{% endblock %}

{% block main %}


{% endblock %}